<% provide(:title, @article.title) %>

<%= render "shared/breadcrumb" %>

<div class="heading">
  <h1><%= @article.title %></h1>
  <%= markdown(@article.summary) %>
</div>

<%= render "shared/meta", object: @article %>

<div class="clear"></div>

<div class="toc">
  <p>目次</p>
  <%= check_box_tag("toc-toggle") %>
  <%= label_tag("toc-toggle", "") %>
  <div class="toc-table">
    <%= toc(@article.content) %>
  </div>
</div>

<div class="content">
  <%= markdown(@article.content) %>
</div>

<%= render "shared/pager", previous_object: @previous_article,
                           next_object: @next_article %>

<div class="clear"></div>
