<div class="main-wrapper">
  <div class="main">
    <p>
      <strong>Name:</strong>
      <%= @article.name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @article.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @article.content %>
    </p>

    <p>
      <strong>Article Order:</strong>
      <%= @article.article_order %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @article.status %>
    </p>

    <p>
      <strong>Category Id:</strong>
      <%= @article.category_id %>
    </p>
  </div>
</div>