<% provide(:title, "画像一覧") %>
<div class="heading">
  <h1>画像一覧</h1>
  <p><%= page_entries_info @attachments, entry_name: "画像" %></p>
</div>

<% if @attachments.any? %>
  <div class="image-list">
    <ul>
      <% @attachments.each do |attachment| %>
        <li id=<%= "image-item-#{attachment.id}" %>>
          <% if attachment.image.attached? %>
            <%= image_tag attachment.image %>
          <% else %>
            <p>画像がアタッチされていません。</p>
          <% end %>
          <div class="action-menu">
            <% if attachment.image.attached? %>
              <ul class="left-list">
                <li class="copy-to-clip">
                  <input id=<%= "copy-text-#{attachment.id}" %> value=<%= url_for(attachment.image) %> readonly>
                  <button class="clip-button" data-clipboard-target=<%= "#copy-text-#{attachment.id}" %>>
                    <span class="fa fa-clipboard"></span>
                  </button>
                </li>
              </ul>
            <% end %>
            <ul class="right-list">
              <li>
                <%= link_to "削除", attachment_path(attachment),
                            method: :delete, data: { confirm: "本当に削除しますか？" } %>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
          <hr>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="pagination-wrapper">
    <%= paginate @attachments %>
  </div>
<% end %>