<div class="action-menu">
  <ul class="left-list">
    <li class="custom-form">
      <%= form_with(url: new_category_path,
                    method: :get, local: true) do |f| %>
        <div class="action-field">
          <%= f.submit "カテゴリー作成" %>
        </div>
      <% end %>
    </li>
  </ul>
</div>

<div class="clear"></div>

<div class="heading">
  <h1>TOP PAGE</h1>
  <p>当サイトはデータベース初心者を対象に、リレーショナルデータベースを中心としたデータベースの基礎知識を体系的に解説します。</p>
</div>

<div class="top-menu">
  <ul>
    <% @root_categories.each do |root_category| %>
      <li class="top-box">
        <div class="top-box-title">
          <%= link_to root_category do %>
            <h2><%= root_category.title %></h2>
          <% end %>
        </div>
        <%= simple_format(root_category.summary) %>
      </li>
    <% end %>
  </ul>
</div>