<% if user_signed_in? %>
  <div class="action-menu">
    <ul class="left-list">
      <li>
        <%= link_to "カテゴリー作成", new_category_path %>
      </li>
    </ul>
  </div>

  <div class="clear"></div>
<% end %>

<div class="heading">
  <h1>TOP PAGE</h1>
  <%= markdown_file("app/views/home/top.md") %>
</div>

<div class="top-menu">
  <ul>
    <% @root_categories.each do |root_category| %>
      <li class="top-box">
        <div class="top-box-title">
          <%= link_to root_category do %>
            <h2><%= root_category.title %></h2>
          <% end %>
        </div>
        <%= markdown(root_category.summary) %>
      </li>
    <% end %>
  </ul>
</div>
