<div class="heading">
  <h1>TOP PAGE</h1>
  <%= markdown_file("app/views/home/top.md") %>
</div>

<div class="top-menu">
  <ul>
    <% @root_categories.each do |root_category| %>
      <li class="top-box">
        <div class="top-box-title">
          <%= link_to root_category do %>
            <h2><%= root_category.title %></h2>
          <% end %>
        </div>
        <%= markdown(root_category.summary) %>
      </li>
    <% end %>
  </ul>
</div>

<% if @articles.any? %>
  <div class="latest-updates">
    <ul>
      <li class="latest-updates-navi">
        <h2>
          <span class="fa fa-file"></span>
          最新情報
        </h2>
      </li>
      <% @articles.each do |article| %>
        <%= render "shared/article_navi", article: article,
        summary: plaintext(article.summary).truncate(50) %>
      <% end %>
    </ul>
  </div>

  <div class="pagination-wrapper">
    <%= paginate @articles, params: { controller: :home, action: :top } %>
  </div>
<% end %>
