<% provide(:title, "検索結果") %>
<div class="heading">
  <h1>検索結果</h1>
  <p>キーワード：<%= @keyword %></p>
  <p><%= page_entries_info @articles %></p>
</div>

<% if @articles.any? %>
  <div class="search-result">
    <ul>
      <% @articles.each do |article| %>
        <li>
          <%= link_to category_article_path(article.category, article) do %>
            <span class="fa fa-file"></span>
            <%= article.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="pagination-wrapper">
    <%= paginate @articles, params: { controller: :searches, action: :index } %>
  </div>
<% end %>