<div class="custom-form">
  <%= form_with(model: @category, local: true) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <div class="block-field">
      <%= f.label :name, "スラッグ名" %>
      <%= f.text_field :name %>
    </div>

    <div class="block-field">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
    </div>

    <div class="block-field">
      <%= f.label :summary, "サマリー" %>
      <%= f.text_area :summary %>
    </div>

    <div class="inline-field">
      <%= f.label :category_order, "カテゴリーの並び順" %>
      <%= f.number_field :category_order %>
    </div>

    <div class="clear"></div>

    <div class="inline-field">
      <%= f.label :parent_category_id, "親カテゴリーID" %>
      <%= f.number_field :parent_category_id %>
    </div>

    <div class="clear"></div>

    <div class="form-button">
      <%= f.submit yield(:button_text) %>
    </div>
  <% end %>
</div>
