<div class="main-wrapper">
  <div class="main">
    <%= form_with(model: @category, local: true) do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :summary %>
        <%= f.text_area :summary %>
      </div>
      <div>
        <%= f.label :category_order %>
        <%= f.number_field :category_order %> 
      </div>
      <div>      
        <%= f.label :parent_category_id %>
        <%= f.number_field :parent_category_id %>
      </div>
      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>