<% provide(:title, @category.title) %>
<%= render "shared/main_header", object: @category %>

<div class="clear"></div>

<div class="action-menu">
  <ul class="left-list">
    <li class="custom-form">
      <%= form_with(url: new_category_path, scope: :category,
                    method: :get, local: true) do |f| %>
        <%= hidden_field_tag :parent_category_id, @category.id %>
        <div class="action-field">
          <%= f.submit "カテゴリー作成" %>
        </div>
      <% end %>
    </li>
    <li class="custom-form">
      <%= form_with(url: edit_category_path(@category),
                    method: :get, local: true) do |f| %>
        <div class="action-field">
          <%= f.submit "カテゴリー編集" %>
        </div>
      <% end %>
    </li>
    <li class="custom-form">
      <%= form_with(url: new_category_article_path(@category),
                    method: :get, local: true) do |f| %>
        <div class="action-field">
          <%= f.submit "記事投稿" %>
        </div>
      <% end %>
    </li>
  </ul>
  <ul class="right-list">
    <li class="custom-form">
      <%= form_with(url: category_path(@category),
                    method: :delete, local: true,
                    data: { confirm: "Are you sure?" }) do |f| %>
        <div class="action-field">
          <%= f.submit "カテゴリー削除" %>
        </div>
      <% end %>
    </li>
  </ul>
</div>

<div class="clear"></div>

<div class="heading">
  <h1><%= @category.title %></h1>
  <%= simple_format(@category.summary) %>
</div>

<% if @categories.length >= 2 %>
  <div class="toc">
    <p>目次</p>
    <%= check_box_tag("toc-toggle") %>
    <%= label_tag("toc-toggle", "") %>
    <div class="toc-table">
      <ul>
        <% @categories.each do |category| %>
          <% if category != @category || category.articles.any? %>
            <li>
              <%= link_to "#{category.title}", "##{category.slug}" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="category-menu">
  <% @categories.each do |category| %>
    <% if category != @category || category.articles.any? %>
      <ul>
        <li class="category-navi">
          <%= link_to category_path(category) do %>
            <h2 id="<%= category.slug %>">
              <span class="fa fa-folder fa-fw"></span>
              <%= category.title %>
            </h2>
          <% end %>
        </li>
        <% category.articles.each do |article| %>
          <li class="article-navi">
            <%= link_to category_article_path(category, article) do %>
              <span class="fa fa-file"></span>
              <%= article.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= render "shared/main_footer", previous_object: @previous_category,
                                 next_object: @next_category %>

<div class="clear"></div>