<% provide(:title, @category.title) %>

<%= render "shared/breadcrumb" %>

<div class="heading">
  <h1><%= @category.title %></h1>
  <%= markdown(@category.summary) %>
</div>

<%= render "shared/meta", object: @category %>

<div class="clear"></div>

<div class="toc">
  <p>目次</p>
  <%= check_box_tag("toc-toggle") %>
  <%= label_tag("toc-toggle", "") %>
  <div class="toc-table">
    <ul>
      <li>
        <%= link_to "#{@category.title}", "##{@category.slug}" %>
      </li>
      <% @child_categories.each do |category| %>
        <li>
          <%= link_to "#{category.title}", "##{category.slug}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="category-menu">
  <div class="heading">
    <h2 id="<%= @category.slug %>">
      <span class="fa fa-folder-open"></span>
      <%= @category.title %>
    </h2>
  </div>
  <ul>
    <% @category.articles.each do |article| %>
      <%= render "shared/article_navi", article: article,
        summary: plaintext(article.summary).truncate(50) %>
    <% end %>
  </ul>

  <% @child_categories.each do |category| %>
    <div class="heading">
      <%= link_to category_path(category) do %>
        <h2 id="<%= category.slug %>">
          <span class="fa fa-folder fa-fw"></span>
          <%= category.title %>
        </h2>
      <% end %>
    </div>
    <ul>
      <% category.articles.each do |article| %>
        <%= render "shared/article_navi", article: article,
          summary: plaintext(article.summary).truncate(50) %>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render "shared/pager", previous_object: @previous_category,
                           next_object: @next_category %>

<div class="clear"></div>
